<footer class="footer">
    <div class="columns has-text-centered">
        <a class="column" href="/">トップページ</a>
        <a class="column" href="https://www.soumu.go.jp/denshijiti/code.html">データの出典</a>
    </div>
    <hr>
    <div>
        <p>jmchson by <a href="https://www.osumiakari.jp">Osumi Akari</a>（<a href="https://c.osumiakari.jp/@oageo">@oageo@c.osumiakari.jp</a>）。</p>
        <p>ソースコードは<a href="https://github.com/oageo/jmcjson">GitHub</a>上に存在します。MITライセンスです。</p>
    </div>
</footer>