<section class="hero is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">jmcjson</h1>
            <p class="subtitle">地方公共団体コードをJSONで返す</p>
        </div>
    </div>
</section>